<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>privateKey</key>
	<string>0da7730423a5b81a283161abcb4514212c129c81</string>
	<key>publicKey</key>
	<string>3f5b961f5e00d96a1477791dcc0b7189</string>
</dict>
</plist>
